.service-section {
  display: flex;
  flex-direction: column;
  background-color: #0D0A09;
  padding: 30px;
}

.service-text-container {
  display: flex;
  flex-direction: column;
}

.service-text1 {
  text-align: center;
}

.service-text {
  font-size: 16px;
  color: rgb(196, 196, 196);
  text-align: center;
  margin-bottom: 10px;
}

.text-title {
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.text-title span {
  color: #C9AF94;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
  padding: 30px;
  transition: 0.6s;
}

.icon-box:hover {
  box-shadow: 0 0 6px 5px rgba(201, 175, 148, 0.8);
}

.service-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.icon-text {
  text-align: center;
}



